/* ---------- Overall Specifications ---------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

html {
  height: 98%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Ubuntu", san-serif ;
  font-size: 87.5%;
}

#page-wrapper {
 max-width:1280px;
 margin-left: auto;
 margin-right: auto;
 margin-top:10px;
 
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}
.link {
  font-family: "Ubuntu", sans-serif;
}
.field-type-image a,
h1 a,
h2 a,
[role*=banner] a,
.feed-icon,
.contextual-links a,
.toolbar a {
  border-bottom: none !important;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility
 */
h1,
.heading-a {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: #000;
}
h2,
.heading-b {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.143em;
}
h3,
.heading-c {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.092em;
}
h4,
.heading-d {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

/* ------------------ Reset Styles ------------------ */

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/*
 * Chajchu blocks
 */ 
 
/* Language switcher*/
.block-language {
  font-size:1em !important;
  position: absolute;
  top:-10px;
  padding: 0 10px;
}

/* 
 * Searcher 
 */
#busqueda {
    position:relative;
    float:left;
    background: #FFFFFF url(../../images/lens.png) no-repeat;
    background-position: 4px 4px !important;
    padding: 10px 10px 10px 60px;
    margin: 0 3px;
    width: 56%;
    min-width:250px;
    height:50px;
    border: 2px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size:1.6em;
}

#edit-need:focus {
    background: #FFFFFF url(../../images/lensalt.png) no-repeat;
    background-color: #FFFFFF;
    border-color: #ff6600;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}

::-webkit-input-placeholder {
   color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
}

:-ms-input-placeholder {  
   color: #000000;  
}

#edit-offer {
    position:relative;
    float:left;
    background: #ff6600;
    padding: 5px;
    margin:0px 3px;
    width: 20%;
    min-width:70px;
    height:50px;
    border: 2px solid #ff6600;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size:1.8em;
    text-align:center;
    color:#FFFFFF;
}

#edit-offer:hover {
    border-color: #ff6600;
    color:#000000;
}

#edit-demand {
    position:relative;
    float:left;
    background: #000000;
    padding: 5px;
    margin: 0 3px;
    width: 20%;
    min-width:105px;
    height:50px;
    border: 2px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size:1.8em;
    text-align:center;
    color:#FFFFFF;
}

#edit-demand:hover {
    border-color: #000000;
    color:#ff6600;
}

#page-title {
  display:none;
}

#search {
  position:absolute;
  left:-1px;
  top:-30px;
  width:100%;
  height:65px;
    padding:0;
    margin:0;
}
#search-content {
  position:relative;
  width:71%;
  margin-left: auto;
    margin-right: auto;
}


/* 
 * Searched 
 */

#searching {
  margin: 50px 0 10px 0;
}

#left {
  position:relative;
  float:left;
  width:70%;
  margin: 20px 30px;
}
#searched {

}


div[id^="searched_"]{
  border: 2px solid #f6ffd5;
  background-color: #f6ffd5;
    border-radius: 10px;
    margin:0 0 10px 0;
    padding: 10px;
}

div[id^="searched_"] h2{
    margin:0 0 5px 0;
    font-weight: bold;
}
 
div[id^="searched_"] p{
  margin:0;
  padding:0;
}

span.highlight{
  color: #ff6600;
  font-weight: bold;
}
span.normal{
  color: #000000;
  font-weight: bold;
}

/* tags */
#right {
  position:relative; 
  float:left;
  width:280px;
  margin: 70px 0px;
}

#right #tags {
  border: 2px solid #f4e3d7;
  background-color: #f4e3d7;
    border-radius: 10px;
    margin:0 0 10px 0;
    padding: 10px;
}

#right #tags span.weight_1 {
  font-size:1em;
  margin: 5px;
}
#right #tags span.weight_2 {
  font-size:1.3em;
  margin: 5px;
}
#right #tags span.weight_3 {
  font-size:1.6em;
  margin: 5px;
}
#right #tags span.weight_4 {
  font-size:1.9em;
  margin: 5px;
}
#right #tags span.weight_5 {
  font-size:2.2em;
  margin: 5px;
}
#right #tags span.weight_6 {
  font-size:2.5em;
  margin: 5px;
}
#right #tags span.weight_7 {
  font-size:2.8em;
  margin: 5px;
}

/* adsense */
#right #adsense {
  border: 2px solid #f4e3d7;
  background-color: #f4e3d7;
    border-radius: 10px;
    margin:0 0 10px 0;
    padding: 10px;
}